/*==================Color Root=======================*/
:root{
    --bittersweet: #FF645F;
    --anakiwa: #83deff;
    --kournikova: #ffeb83;
    --blux: #edf6fc;
    --yllx: #fef9eb;
    --rdx: #fcf1ea;
    --blux1: #e6f9f5;
    --prpx: #edecff;
    --rdx1: #b12341;
    --blux2: #99d5f3;
    --orgx: #f7be7d;
    --blcx: #131313;
    --blux3 : #418dff;
    --grnx1: #35cda7;
    --grnx2: #37c978;
    --blcx1: #1f1f1f;
    --prpx1: #8d68fa;
    --grnx: #98ce94;
    --blcx2: #363543;
    --whtx: #dee9ee;
    --whtx1: #f7f7fe;
    --prpx2: #6a26cd;
    --blcx3: #100f10;
    --blux4: #37b9f1;
    --redx: #eb1527;
    --greyx: #c9c9c9;
}
/*===================Simple Buttons===============*/
a{
    text-decoration: none;
    padding: 2px;
}
a:hover{
    color: #f7f7fe;
}
.btn-sim{
    font-size: 15px;
    font-weight: normal;
    padding: 7px 20px;
    border-radius: 22px;
    background-color: #F0F0F0;
    border: 1px solid #D8D8D8;
    width: auto;
    height: auto;
    text-align: center;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-sim:focus{
    outline: 0;
}
.btn-sim:hover{
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: darkgray;
}
.btn-sim-mid{
    font-size: 18px;
    font-weight: normal;
    padding: 10px 35px;
    border-radius: 30px;
    border: 1px solid #D8D8D8;
    background-color: #F0F0F0;
    width: auto;
    height: auto;
    text-align: center;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-sim-mid:focus{
    outline: 0;
}
.btn-sim-mid:hover{
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: darkgray;
}
.btn-sim-lg{
    font-size: 25px;
    font-weight: normal;
    padding: 8px 42px;
    border-radius: 33px;
    border: 1px solid #D8D8D8;
    background-color: #F0F0F0;
    width: auto;
    height: auto;
    text-align: center;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-sim-lg:hover{
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: darkgray;
}
.btn-sim-lg:focus{
    outline: 0;
}
.btn-sim-dark{
    font-size: 15px;
    font-weight: lighter;
    padding: 7px 20px;
    border-radius: 22px;
    border: 1px solid #D8D8D8;
    width: auto;
    height: auto;
    text-align: center;
    color: #e6f9f5;
    background-color: #131313;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-sim-dark:hover{
    box-shadow: 3px 3px 5px rgba(108, 122, 137, 1);
    border: 0;
}
.btn-sim-dark:focus{
    outline: 0;
}
.btn-sim-mid-dark{
    font-size: 18px;
    font-weight: normal;
    padding: 10px 35px;
    border-radius: 30px;
    border: 1px solid #D8D8D8;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #131313;
    color: #e6f9f5;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-sim-mid-dark:hover{
    box-shadow: 3px 3px 5px rgba(108, 122, 137, 1);
    border: 0;
}
.btn-sim-mid-dark:focus{
    outline: 0;
}
.btn-sim-lg-dark{
    font-size: 25px;
    font-weight: normal;
    padding: 8px 42px;
    border-radius: 33px;
    border: 1px solid #D8D8D8;
    width: auto;
    height: auto;
    text-align: center;
    color: #edf6fc;
    background-color: #131313;
    transition: all 0.4s;
    cursor: pointer;
}
.btn-sim-lg-dark:hover{
    box-shadow: 3px 3px 5px rgba(108, 122, 137, 1);
    border: 0;
}
.btn-sim-lg-dark:focus{
    outline: 0;
}
/*======================Round Buttons======================= */
.btn-round{
    font-size: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 25px;
    background: #FF645F;
    color: whitesmoke;
    border-radius: 100%;
    border: 0;
}
.btn-round:focus{
    outline: 0;
}
.btn-round:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
}
.btn-round-outline{
    font-size: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 26px;
    color: #1f1f1f;
    border-radius: 100%;
    border: 2px solid #37c978;
    transition: all 0.4s;
}
.btn-round-outline:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
    background-color: #37c978;
    color: whitesmoke;
}
.btn-round-outline:focus{
    outline: 0;
}
.btn-round-mid{
    font-size: 22px;
    width: 67px;
    height: 67px;
    text-align: center;
    line-height: 52px;
    background: #FF645F;
    color: whitesmoke;
    border-radius: 100%;
    border: 0;
}
.btn-round-mid:focus{
    outline: 0;
}
.btn-round-mid:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
}
.btn-round-outline-mid{
    font-size: 22px;
    width: 67px;
    height: 67px;
    text-align: center;
    line-height: 52px;
    color: #1f1f1f;
    border-radius: 100%;
    border: 2px solid #37c978;
    transition: all 0.4s;
}
.btn-round-outline-mid:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
    background-color: #37c978;
    color: whitesmoke;
}
.btn-round-outline-mid:focus{
    outline: 0;
}
/*=============================Border Buttons=============================*/
.btn-border{
    font-weight: normal;
    padding: 7px 20px;
    background-color: #F0F0F0;
    border:1px solid  #D8D8D8;
    border-radius: 5px;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(0,0,0,1);
    transition: all 0.4s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-border:hover{
    border: 3px solid  #418dff;
    color: rgba(0,0,0,0.8);
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    transform: scale(1);
}
.btn-border:focus{
    outline: 0;
}
.btn-border-mid{
    font-size: 22px;
    font-weight: normal;
    padding: 10px 35px;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    background-color: #F0F0F0;
    width: auto;
    height: auto;
    text-align: center;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-border-mid:hover{
    border: 3px solid  #418dff;
    color: rgba(0,0,0,0.8);
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    transform: scale(1);}
.btn-border-mid:focus{
    outline: 0;
}
.btn-border-lg{
    font-size: 25px;
    font-weight: normal;
    padding: 15px 55px;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
    background-color: #F0F0F0;
    width: auto;
    height: auto;
    text-align: center;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
    transform: scale(0.98);

}
.btn-border-lg:hover{
    border: 3px solid  #418dff;
    color: rgba(0,0,0,0.8);
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    transform: scale(1);}
.btn-border-lg:focus{
    outline: 0;
}
/*===========================Gradient Buttons=============================*/
.btn-gradient{
    font-weight: normal;
    padding: 7px 20px;
    background-color: #F0F0F0;
    border:2px solid;
    Border-image-source: linear-gradient(to right, #fc466b, #3f5efb);
    border-image-slice: 1;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(0,0,0,1);
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-gradient:hover{
    background-image: linear-gradient(to right, #fc466b, #3f5efb);
    border: 0;
    transform: scale(1);
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: #f7f7fe;
}
.btn-gradient:focus{
    outline: 0;
}
.btn-gradient-mid{
    font-size: 22px;
    font-weight: normal;
    padding: 10px 35px;
    background-color: #F0F0F0;
    border:2px solid;
    Border-image-source: linear-gradient(to right, #fc466b, #3f5efb);
    border-image-slice: 1;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(0,0,0,1);
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-gradient-mid:hover{
    background-image: linear-gradient(to right, #fc466b, #3f5efb);
    border: 0;
    transform: scale(1);
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: #f7f7fe;
}
.btn-gradient-mid:focus{
    outline: 0;
}
.btn-gradient-lg{
    font-size: 25px;
    font-weight: normal;
    padding: 12px 65px;
    background-color: #F0F0F0;
    border:2px solid;
    Border-image-source: linear-gradient(to right, #fc466b, #3f5efb);
    border-image-slice: 1;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(0,0,0,1);
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-gradient-lg:hover{
    background-image: linear-gradient(to right, #fc466b, #3f5efb);
    border: 0;
    transform: scale(1);
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: #f7f7fe;
}
.btn-gradient-lg:focus{
    outline: 0;
}
/*===========================Neon Buttons==================================*/
.btn-neon{
    font-weight: normal;
    padding: 7px 20px;
    background-color: #F0F0F0;
    border:2px solid #D8D8D8;
    border-radius: 22px;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(0,0,0,1);
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-neon:hover{
    border: none;
    color: #111;
    box-shadow: 1px 1px 25px white;
    background-color: white;
    transform: scale(1);
}
.btn-neon:focus{
    outline: 0;
}
.btn-neon-mid{
    font-size: 22px;
    font-weight: normal;
    padding: 10px 35px;
    background-color: #F0F0F0;
    border:2px solid #D8D8D8;
    border-radius: 30px;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(0,0,0,1);
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-neon-mid:hover{
    border: none;
    color: #111;
    box-shadow: 1px 1px 25px white;
    background-color: white;
    transform: scale(1);
}
.btn-neon-mid:focus{
    outline: 0;
}
.btn-neon-lg{
    font-size: 25px;
    font-weight: normal;
    padding: 12px 60px;
    border-radius: 33px;
    background-color: #F0F0F0;
    border:2px solid #D8D8D8;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(0,0,0,1);
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(0.98);
}
.btn-neon-lg:hover{
    border: none;
    color: #111;
    box-shadow: 1px 1px 25px white;
    background-color: white;
    transform: scale(1);
}
.btn-neon-lg:focus{
    outline: 0;
}
/*=============================Block Buttons==============================*/
.btn-block{
    width: 100%;
    display: block;
    padding: 7px 18px;
    border-radius: 30px;
    text-align: center;
    border: 0;
    background-color: #418dff;
    color: #f7f7fe;
    font-size: 25px;
    transition: all 0.4s;
}
.btn-block:hover{
    box-shadow:3px 4px 5px rgba(171, 183, 183, 1);
    color: #D8D8D8;
}
.btn-block:focus{
    outline: 0;
}
.btn-block-outline{
    width: 100%;
    display: block;
    padding: 7px 18px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #418dff;
    color: #101010;
    font-size: 25px;
    transition: all 0.4s;
}
.btn-block-outline:hover{
    box-shadow:3px 4px 5px rgba(171, 183, 183, 1);
    color: #418dff;
}
.btn-block-outline:focus{
    outline: 0;
}
/*====================Button Out============================================*/
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
.btn-out {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
.btn-out:focus{
    outline: 0;
}
button.btn-out-text {
    width: 12rem;
    height: auto;
}
button.btn-out-text .btn-out-circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}
button.btn-out-text .btn-out-circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.btn-out-text .btn-out-circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.btn-out-text .btn-out-circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
button.btn-out-text .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .btn-out-circle {
    width: 100%;
}
button:hover .btn-out-circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}
/*===========================Draw Border Button=========================*/
.draw-border {
    box-shadow: inset 0 0 0 4px  #6a26cd;
    color: #6a26cd;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #8d68fa;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #8d68fa;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
.btn-draw-border {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 15px "Roboto Slab", sans-serif;
    padding: 10px 20px;
    letter-spacing: 1px;
}
.btn-draw-border:focus {
    outline: 1px solid #8d68fa;
}
/*==============Button Effect=======*/
.btn-effect .effect-on{
    transition: all 0.3s linear 0s;
}
.btn-effect.effect-on:before {
    content: " ";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: all 0.3s linear 0s;
}
.btn-effect.effect-on:hover {
    text-indent: 30px;
}
.btn-effect.effect-on:hover:before {
    transform: scale(1, 1);
    text-indent: 0;
}
.btn-effect {
    text-align: center;
    position: relative;
    text-decoration: none;
    color: black;
    background-color: #37c978;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 7px 20px;
    border-radius: 22px;
    border: 1px solid #D8D8D8;
    overflow: hidden;
    transition: all 0.4s;
}
.btn-effect:focus{
    outline: 0;
}



