/*==================Color Root=======================*/
:root{
    --bittersweet: #FF645F;
    --anakiwa: #83deff;
    --kournikova: #ffeb83;
    --blux: #edf6fc;
    --yllx: #fef9eb;
    --rdx: #fcf1ea;
    --blux1: #e6f9f5;
    --prpx: #edecff;
    --rdx1: #b12341;
    --blux2: #99d5f3;
    --orgx: #f7be7d;
    --blcx: #131313;
    --blux3 : #418dff;
    --grnx1: #35cda7;
    --grnx2: #37c978;
    --blcx1: #1f1f1f;
    --prpx1: #8d68fa;
    --grnx: #98ce94;
    --blcx2: #363543;
    --whtx: #dee9ee;
    --whtx1: #f7f7fe;
    --prpx2: #6a26cd;
    --blcx3: #100f10;
    --blux4: #37b9f1;
}
/*===================Simple Buttons===============*/
.btn-sim{
    font-size: 15px;
    font-weight: lighter;
    padding: 7px 20px;
    border-radius: 22px;
    border: 0;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
}
.btn-sim:focus{
    outline: 0;
}
.btn-sim:hover{
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: darkgray;
}
.btn-sim-mid{
    font-size: 18px;
    font-weight: normal;
    padding: 10px 35px;
    border-radius: 30px;
    border: 0;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
}
.btn-sim-mid:focus{
    outline: 0;
}
.btn-sim-mid:hover{
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: darkgray;
}
.btn-sim-lg{
    font-size: 25px;
    font-weight: normal;
    padding: 8px 42px;
    border-radius: 33px;
    border: 0;
    color: #131313;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
}
.btn-sim-lg:hover{
    box-shadow: 3px 3px 5px rgba(171, 183, 183, 1);
    color: darkgray;
}
.btn-sim-lg:focus{
    outline: 0;
}
.btn-sim-dark{
    font-size: 15px;
    font-weight: lighter;
    padding: 7px 20px;
    border-radius: 22px;
    border: 0;
    color: #e6f9f5;
    background-color: #131313;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
}
.btn-sim-dark:hover{
    box-shadow: 3px 3px 5px rgba(108, 122, 137, 1);
}
.btn-sim-dark:focus{
    outline: 0;
}
.btn-sim-mid-dark{
    font-size: 18px;
    font-weight: normal;
    padding: 10px 35px;
    border-radius: 30px;
    border:0;
    background-color: #131313;
    color: #e6f9f5;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
}
.btn-sim-mid-dark:hover{
    box-shadow: 3px 3px 5px rgba(108, 122, 137, 1);
}
.btn-sim-mid-dark:focus{
    outline: 0;
}
.btn-sim-lg-dark{
    font-size: 25px;
    font-weight: normal;
    padding: 8px 42px;
    border-radius: 33px;
    border: 0;
    color: #edf6fc;
    background-color: #131313;
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
}
.btn-sim-lg-dark:hover{
    box-shadow: 3px 3px 5px rgba(108, 122, 137, 1);
}
.btn-sim-lg-dark:focus{
    outline: 0;
}
/*======================Round Buttons======================= */
.btn-round{
    font-size: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 26px;
    background: #FF645F;
    color: whitesmoke;
    border-radius: 100%;
    border: 0;
}
.btn-round:focus{
    outline: 0;
}
.btn-round:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
}
.btn-round-outline{
    font-size: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 26px;
    color: #1f1f1f;
    border-radius: 100%;
    border: 2px solid #37c978;
    transition: all 0.4s;
}
.btn-round-outline:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
    background-color: #37c978;
    color: whitesmoke;
}
.btn-round-outline:focus{
    outline: 0;
}
.btn-round-mid{
    font-size: 22px;
    width: 67px;
    height: 67px;
    text-align: center;
    line-height: 52px;
    background: #FF645F;
    color: whitesmoke;
    border-radius: 100%;
    border: 0;
}
.btn-round-mid:focus{
    outline: 0;
}
.btn-round-mid:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
}
.btn-round-outline-mid{
    font-size: 22px;
    width: 67px;
    height: 67px;
    text-align: center;
    line-height: 52px;
    color: #1f1f1f;
    border-radius: 100%;
    border: 2px solid #37c978;
    transition: all 0.4s;
}
.btn-round-outline-mid:hover{
    box-shadow: 3px 3px 4px rgba(171, 183, 183, 1);
    background-color: #37c978;
    color: whitesmoke;
}
.btn-round-outline-mid:focus{
    outline: 0;
}

/*=============================Block Buttons==============================*/
.btn-block{
    width: 100%;
    display: block;
    padding: 7px 18px;
    border-radius: 30px;
    text-align: center;
    border: 0;
    background-color: #418dff;
    color: #f7f7fe;
    font-size: 25px;
    transition: all 0.4s;
}
.btn-block:hover{
    box-shadow:3px 4px 5px rgba(171, 183, 183, 1);
    color: #D8D8D8;
}
.btn-block:focus{
    outline: 0;
}
.btn-block-outline{
    width: 100%;
    display: block;
    padding: 7px 18px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #418dff;
    color: #101010;
    font-size: 25px;
    transition: all 0.4s;
}
.btn-block-outline:hover{
    box-shadow:3px 4px 5px rgba(171, 183, 183, 1);
    color: #418dff;
}
.btn-block-outline:focus{
    outline: 0;
}
/*=======================Buttons Groups======================*/
.btn-grp{
    display: inline-block;
}
.btn-grp-item{
    border: 0;
}


body{
    background-color: white;
}
